.header-belt{
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2);
}

.header-belt .navbar-brand {
    color: rgb(11, 15, 239);
}

.header-belt .nav-link {
    color: rgb(12, 15, 235);
}

.header-belt .navbar-nav .nav-link.active {
    color: rgb(58, 9, 237);
}